LOCAL_MONGODB_URI=mongodb://localhost:27017/test
LOCAL_MONGODB_DB=test

OWNER_USER_ID=
OWNER_DISPLAY_NAME=CG Gamer
OWNER_NICKNAME=Alex

GIRLFRIEND_USER_ID=
GIRLFRIEND_DISPLAY_NAME=Helicopter Girl
GIRLFRIEND_NICKNAME=Alexa

API_PORT=8787
HOST=127.0.0.1
POLL_INTERVAL_MS=3000
