DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
MONGODB_URI=

AI_PRIMARY_PROVIDER=gemini
AI_PRIMARY_API_KEY=
AI_PRIMARY_MODEL=gemini-2.5-flash

AI_BACKUP_PROVIDER=groq
AI_BACKUP_API_KEY=
AI_BACKUP_MODEL=llama-3.1-8b-instant

AI_TIMEOUT_MS=8000
GIPHY_API_KEY=

DEFAULT_REMINDER_HOURS=24
NODE_ENV=development
